

@{
    ViewData["Title"] = "Администратор";
}

<div class="card__container">

    <div class="card">
        <div class="card__cover">
            <img class="img_card" src="~/img/админка/free-icon-bus-151693.png" alt="памятник">
        </div>
        <div class="card__content">
            <h2>маршруты</h2>
            <a href="#"><p class="text">Добавить</p></a>
            <a href="#"><p class="text">Изменить</p></a>
            <a href="#"><p class="text">Удалить</p></a>
        </div>
    </div>
  

    <div class="card">
        <div class="card__cover">
            <img class="img_card" src="~/img/админка/free-icon-taxi-5690327.png" alt="памятник">
        </div>
        <div class="card__content">
            <h2>Такси</h2>
            <a href="/Home/in_taxi" ><p class="text">Добавить</p></a>
            <a href="/Home/up_taxi"><p class="text">Изменить</p></a>
            <a href="/Home/del_taxi"><p class="text">Удалить</p></a>
        </div>
    </div>

    <div class="card">
        <div class="card__cover">
            <img class="img_card" src="~/img/админка/free-icon-ticket-flight-1454738.png" alt="памятник">
        </div>
        <div class="card__content">
            <h2>Иностранные маршруты</h2>
            <a href="vyb"><p class="text">Добавить</p></a>
            <a href="vyb"><p class="text">Изменить</p></a>
            <a href="vyb"><p class="text">Удалить</p></a>
        </div>
    </div>
    
    <div class="card">
        <div class="card__cover">
            <img class="img_card" src="~/img/админка/free-icon-to-do-list-4133971.png" alt="памятник">
        </div>
        <div class="card__content">
            <h2>Главная Информация</h2>
            <a href="vyb"><p class="text">Добавить</p></a>
            <a href="vyb"><p class="text">Изменить</p></a>
            <a href="vyb"><p class="text">Удалить</p></a>
        </div>
    </div>

    <div class="card">
        <div class="card__cover">
            <img class="img_card" src="~/img/админка/письмо.png" alt="памятник">
        </div>
        <div class="card__content">
            <h2>Прочитать сообщения</h2>
            <a href="vyb"><p class="text">Прочитать</p></a>
        </div>
    </div>
</div>