@{
    ViewData["Title"] = "Home Page";
}

<div class="card__container">
    <div class="card">
        <div class="card__cover">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card__content">картиночка</div>
    </div>
    <div class="card">
        <div class="card__cover">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card__content">картиночка</div>
    </div>
    <div class="card">
        <div class="card__cover">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card__content">картиночка</div>
    </div>
    <div class="card">
        <div class="card__cover">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card__content">картиночка</div>
    </div>
</div>
