@{
    ViewData["Title"] = "Home Page";
}

<div class="card__container">
    <div class="card">
        <div class="card__cover">
            <h2>Такси</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus at perferendis fuga, eaque sit incidunt dignissimos delectus exercitationem fugiat facilis.</p>
        </div>
        
        <div class="card__content">
            <img class="img_card" src="~/img/такси.jpg" alt="памятник"> 
        </div>
    </div>
    <div class="card">
        <div class="card__cover">
            <h2>Маршрутное такси и тролейбусы</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus at perferendis fuga, eaque sit incidunt dignissimos delectus exercitationem fugiat facilis.</p>
        </div>
        <div class="card__content">
            <img class="img_card" src="~/img/обложка.jpg" alt="памятник">
        </div>
    </div>
    <div class="card">
        <div class="card__cover">
            <h2>Достопримечательности</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus at perferendis fuga, eaque sit incidunt dignissimos delectus exercitationem fugiat facilis.</p>
        </div>
        <div class="card__content">
            <img class="img_card" src="~/img/памятник.jpg" alt="памятник">
        </div>
    </div>
    <div class="card">
        <div class="card__cover">
            <h2>Иностранные маршруты</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus at perferendis fuga, eaque sit incidunt dignissimos delectus exercitationem fugiat facilis.</p>
        </div>
        <div class="card__content">
            <img class="img_card" src="~/img/иностранные_маршруты.jpg" alt="памятник">
        </div>
    </div>
</div>
