@model List<card_taxi>
@{
    ViewData["Title"] = "Такси";
    int i = 0;
}

    <div class="taxi__container">
    @foreach (var item in Model)
    {
        <div class="taxi">
            <div class="taxi_content">
                <div class="taxi_ifo">
                    <h2 class="text">@item.zag</h2>
                    <div class="pink"></div>
                    <p class="text">@item.text</p>
                    <p class="text">@item.num</p>
                </div>
                <div class="taxi_img_cont">
                    <img class="taxi_img" src="@Url.Content(item.img)" alt="обложка">
                </div>
            </div>
            <div class="taxi_social">
            @if(item.ins!="#")
            {
                <img class="social_img_1" src="~/img/сети/free-icon-instagram-1384089.png" alt="обложка">
            }
            @if (item.ok != "#")
            {
                <img class="social_img_1" src="~/img/сети/free-icon-social-48971.png" alt="обложка">
            }
                @if (item.tg != "#")
                {
                    <img class="social_img_1" src="~/img/сети/free-icon-telegram-3800059.png" alt="обложка">
                }
                @if (item.vb != "#")
                {
                    <img class="social_img" src="~/img/сети/free-icon-viber-1236868.png" alt="обложка">
                }
                @if (item.wa != "#")
                {
                    <img class="social_img" src="~/img/сети/free-icon-whatsapp-1384023.png" alt="обложка">
                }
                @if (item.vk != "#")
                {
                    <img class="social_img" src="~/img/сети/free-icon-vk-152813.png" alt="обложка">
                }
            </div>
        </div>
        }
</div>

