*{
    margin: 0;
    padding: 0;
    font-family: "Net-Jeko-Extra-Bold";
}

@font-face {
    font-family: "Net-Jeko-Extra-Bold";
    src: url(/fonts/FontsFree-Net-Jeko-Extra-Bold.ttf);
}

.main_cover{
    width: 100%;
    height: 580px;
    border-radius: 0 0 25px 25px;
    position: absolute;
}
body
{
    background-color: #d48d2b;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 10px 10px 10px;
  }
a {
    text-decoration: none;
    color: #cecece;
}
  
.menu_element
{
    padding: 15px 10px 15px 10px;
    background-color: #474663;
    font-size: 20px;
    border-radius: 25px;
    color: #cecece;
    box-shadow:  3px 3px 5px black;

}

.menu_element:hover
{
    background-color: #d7b4de;
    color: black;
}

.menu_container
{
    padding: 15px 50px 15px 10px;
    z-index: 1;
}


.img_menu
{
    width: 30px;
    filter: invert(80%);
}

.menu_element:hover .img_menu
{
  filter: invert(0%);
}

/* чатик  */

 #overlay_in_taxi{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
  
  #form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #474663;
    border-radius: 25px;
    padding: 20px;
  }
  
  #form-container h2, label {
    margin-bottom: 10px;
    color: #cecece;
  }

#close-form_1, #close-form_2, #close-form_in_taxi, #close-form_del_taxi {
    display: block;
    text-align: center;
    margin-top: 10px;
}
  
  .form
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 10px 0 10px 0;
  }

  form input, textarea
  {
    border-radius: 25px;
  }

  form textarea
  {
    width: 400px;
    height: 200px;
  }

  form input
  {
    width: 400px;
    height: 50px;
  }

  form button
  {
    border-radius: 25px;
    background-color: #d7b4de;
    color: rgb(59, 59, 59);
    width: 100px;
    height: 30px;
    margin: 10px 0 10px 0;
  }
